<h1>Users List</h1>
<br>

<p><strong><%= @user.username %>'s</strong> events:</p>
  <p><% @user.created_events.each do |ev| %></p>
  <p><%= ev.title %> <%= link_to 'show details', event_path(ev.id) %></p>
  <% end %>
<br>
<%= link_to 'Back', '/users' %>


